<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <!-- page start-->
    <div class="row">
      <aside class=" profile-nav col-lg-4 col-md-6">
        <section class="panel">
          <!-- <img src="images/london.png" class="img-responsive" /> -->
          <div class="panel-heading">
            <div class="text-center">
              <b><%= @trip.address.split(",").last.strip %></b>
            </div>
          </div>

          <div class="panel-body">
            <div class="">
              <p><%= @trip.description %></p>        
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url(<%= @trip.pictures.first.try(:name).try(:url)%>);">
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>

          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="/">
                <i class="fa fa-calendar"></i> 
                Recent Activity <span class="label primary-bg pull-right">9</span>
              </a>
            </li>
            <li><a href="/users/edit"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
        </section>
        <section class="panel">
          <div class="panel-heading">
            <b>Search by Date</b>
          </div>
          <div class="panel-body" style="height: 60px;" >
            <div class="form-group">
              <%=select_tag :activity_date, options_for_select(@trip_activities_dates, params[:date]), class:"form-control trip-activity-sort",trip_id: @trip.id, style: "width: 100%", include_blank: false %>
            </div>
          </div>
        </section>
        <section class="trip_all_activities">
          <%= render 'trip_all_activities' %>
        </section>
        
      </aside>

      <aside class="col-lg-8 col-md-6">
        <section class="panel">
          <header class="panel-heading">
              Location
          </header>
          <div id="gmap_geocoding" class="gmaps"></div>
        </section>
        <div class ="trip_cmt">
          <%= render 'trip_comment' %>
        </div>
      </aside>
    </div>
  </section>
</section>





<% @trip_activities.morning_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade desc-model" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" />
                <p>Category :- Morning </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Image</h4>
        </div>
        <div class="modal-body">
          <%= render "morning_activity_images", act: act %>
        </div>
      </div>
      <!--end model -->
    </div>
  </div>
  <div id="google-map-location-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Location</h4>
        </div>
        <div class="modal-body">
          <div id="activity_gmap-<%= act.id%>" class="gmaps"></div>
          <%= act.place %>
        </div>
      </div>
      <!--end model -->
    </div>
  </div>
  <script type="text/javascript">
    $("#google-map-location-<%=act.id%>").on('shown.bs.modal', function () {
      init_single_location_on_google(<%=act.id %>, <%= raw act.location_as_json %>);
    });
  </script>
<%end%>

<% @trip_activities.afternoon_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" >
                <p>Category :- Afetrnoon </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Image</h4>
        </div>
        <div class="modal-body">
          <%= render "afternoon_activity_images", act: act %>
        </div>
      </div>
    </div>
  </div>
  <div id="google-map-location-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Location</h4>
        </div>
        <div class="modal-body">
          <div id="activity_gmap-<%= act.id%>" class="gmaps"></div>
          <%= act.place %>-<%= act.id%>
        </div>
      </div>
      <!--end model -->
    </div>
  </div>
  <script type="text/javascript">
   $("#google-map-location-<%=act.id%>").on('shown.bs.modal', function () {
     init_single_location_on_google(<%=act.id %>, <%= raw act.location_as_json %>);
    });
  </script>
<% end %>

<% @trip_activities.evening_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" >
                <p>Category :- Evening </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload photo</h4>
          </div>
          <div class="modal-body">
            <%= render "evening_activity_images", act: act %>
          </div>
        </div>
      </div>
  </div>
  <div id="google-map-location-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Location</h4>
        </div>
        <div class="modal-body">
         <div id="activity_gmap-<%= act.id%>" class="gmaps"></div>
          <%= act.place %>
        </div>
      </div>
      <!--end model -->
    </div>
  </div>
  <script type="text/javascript">
   $("#google-map-location-<%=act.id%>").on('shown.bs.modal', function () {
      init_single_location_on_google(<%=act.id %>, <%= raw act.location_as_json %>);
    });
  </script>
<%end%>

<script type="text/javascript">
  $(document).ready(function(){
    var markers = <%=raw @trip_location.to_json %>
    window.onload = function () {
      if(markers.length > 0){
        initialize_map(markers);
      }
      else {
        initialize_full_map();
      }
      
    }
  });
</script>

<script type="text/javascript">
  $(document).on("submit","#create_trip_comment", function(e){
      e.preventDefault();
      $.ajax({
         type: "POST",
         url: "/trips/<%= @trip.id %>/comments",
         data: $(this).serialize()
      });
  });

  $(document).on("click",".destroy-cmt", function(){
    var comment_id = $(this).attr("cmt-id");
     $.ajax({
         type: "DELETE",
         beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
         url: "/trips/<%= @trip.id %>/comments/" + comment_id
    });
  });
</script>

 