<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <!-- page start-->
    <div class="row">
      <aside class=" profile-nav col-lg-4 col-md-6">
        <section class="panel">
          <!-- <img src="images/london.png" class="img-responsive" /> -->
          <div class="panel-heading">
            <div class="text-center">
              <b><%= @trip.address%>-<%= @trip.start_date.strftime("%Y") %> </b>
            </div>
          </div>

          <div class="panel-body">
            <div class="">
              <p><%= @trip.description %></p>        
            </div>
          </div>

          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image: url(<%= @trip.pictures.first.try(:name).try(:url)%>);">
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
          </div>

          <ul class="nav nav-pills nav-stacked">
            <li>
              <a href="/">
                <i class="fa fa-calendar"></i> 
                Recent Activity <span class="label primary-bg pull-right">9</span>
              </a>
            </li>
            <li><a href="/users/edit"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
        </section>
        <section class="panel">
          <div class="panel-heading">
            <b>Search by Date</b>
          </div>
          <div class="panel-body" style="height: 60px;" >
            <div class="form-group">
              <%=select_tag :activity_date, options_for_select(@trip_activities_dates, params[:date]), class:"form-control trip-activity-sort",trip_id: @trip.id, style: "width: 100%", include_blank: false %>
            </div>
          </div>
        </section>

        <% if @trip_activities.morning_activities.present? %>
          <div class="panel">
            <div class="panel-heading">
              <b>Morning</b>
            </div>
            <div class="clearfix"></div>
            <section class="">  <!-- always use row when define any new column -->
              <div class="panel">
                <table class="table no-th-border light-space-border">
                  <tr>
                    <th><b>Activity</b></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% @trip_activities.morning_activities.each do |act| %>
                    <tr>
                      <td><%= act.place %></td>
                      <td class="hidden-xs">
                        <a href="<%= act.pictures.first.try(:name).try(:url)%>" class="fancybox">
                            <img src="<%= act.pictures.first.try(:name).try(:url)%>" alt="screen" width="50" class="">
                        </a>
                      </td>
                      <td class="text-center">
                        <a href="#" class="text-danger">
                            <span class="fa fa-map-marker fa-2x"></span>
                        </a>
                      </td>
                      <td>
                        <a href="#description-modal-<%=act.id%>" modal-id="#description-modal-<%=act.id%>" class="search-link tooltips" data-toggle="modal" title="Search">
                          <span class="fa fa-search fa-1x"></span>
                        </a>
                      </td>
                      <td>
                        <a href="#img-upload-modal-<%=act.id%>" class="img-upload-icon tooltips" data-toggle="modal" title="Upload images">
                          <i class="fa fa-camera"></i>
                        </a>
                      </td>
                      <td>
                        <a href="<%=@trip.id%>/gallery" class="img-upload-icon tooltips"  title="All Images">
                            <i class="fa fa-plus fa-2x"></i>
                        </a>
                      </td>
                    </tr>
                  <% end %> 
                </table>            
              </div>
            </section> 
          </div> 
        <% end %>
        <% if @trip_activities.afternoon_activities.present? %>
          <div class="panel">
            <div class="panel-heading">
              <b>Afternoon</b>
            </div>
            <div class="clearfix"></div>
            <section class="">  <!-- always use row when define any new column -->
              <div class="panel">
                <table class="table no-th-border light-space-border">
                  <tr>
                    <th><b>Activity</b></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% @trip_activities.afternoon_activities.each do |act|%>
                    <tr>
                      <td><%= act.place %></td>
                      <td class="hidden-xs">
                          <a href="<%= act.pictures.first.try(:name).try(:url)%>" class="fancybox">
                              <img src="<%= act.pictures.first.try(:name).try(:url)%>" alt="screen" width="50" class="">
                          </a>
                      </td>
                      <td class="text-center">
                          <a href="#" class="text-danger">
                              <span class="fa fa-map-marker fa-2x"></span>
                          </a>
                      </td>
                      <td>
                          <a href="#description-modal-<%=act.id%>" class="search-link tooltips" data-toggle="modal" title="Search">
                              <span class="fa fa-search fa-1x"></span>
                          </a>
                      </td>
                      <td>
                          <a href="#img-upload-modal-<%=act.id%>" class="img-upload-icon tooltips" data-toggle="modal" title="Upload images">
                              <i class="fa fa-camera"></i>
                          </a>
                      </td>
                      <td>
                          <a href="<%=@trip.id%>/gallery" class="img-upload-icon tooltips"  title="All Images">
                              <i class="fa fa-plus fa-2x"></i>
                          </a>
                      </td>
                    </tr>
                  <% end %> 
                </table>            
              </div>
            </section> 
          </div>
        <%end%>
        <div class="clearfix"></div>
        <% if @trip_activities.evening_activities.present? %>
          <div class="panel">
            <div class="panel-heading">
              <b>Evening</b>
            </div>
            <div class="clearfix"></div>
            <section class="">  <!-- always use row when define any new column -->
              <div class="panel">
                <table class="table no-th-border light-space-border">
                  <tr>
                    <th><b>Activity</b></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  <% @trip_activities.evening_activities.each do |act|%>
                    <tr>
                      <td><%= act.place %></td>
                      <td class="hidden-xs">
                          <a href="<%= act.pictures.first.try(:name).try(:url)%>" class="fancybox">
                              <img src="<%= act.pictures.first.try(:name).try(:url)%>" alt="screen" width="50" class="">
                          </a>
                      </td>
                      <td class="text-center">
                          <a href="#" class="text-danger">
                              <span class="fa fa-map-marker fa-2x"></span>
                          </a>
                      </td>
                      <td>
                          <a href="#description-modal-<%=act.id%>" class="search-link tooltips" data-toggle="modal" title="Search">
                              <span class="fa fa-search fa-1x"></span>
                          </a>
                      </td>
                      <td>
                          <a href="#img-upload-modal-<%=act.id%>" class="img-upload-icon tooltips" data-toggle="modal" title="Upload images">
                              <i class="fa fa-camera"></i>
                          </a>
                      </td>
                      <td>
                          <a href="<%=@trip.id%>/gallery" class="img-upload-icon tooltips"  title="All Images">
                              <i class="fa fa-plus fa-2x"></i>
                          </a>
                      </td>
                    </tr>
                  <% end %> 
                </table>            
              </div>
            </section> 
          <div> 
        <%end%>  
      </aside>

      <aside class="col-lg-8 col-md-6">
        <section class="panel">
          <header class="panel-heading">
              Location
          </header>
          <div id="gmap_geocoding" class="gmaps"></div>
        </section>
        <section class="panel">
          <div class="panel-heading">
            <b>Trip Comments</b>
          </div>
          <div class="panel-body">
            <div class="fb-status-container fb-border">
              <div class="fb-time-action like-info">
                <a href="#">Jhon Due,</a>
                <a href="#">Danieal Kalion</a>
                <span>and</span>
                <a href="#">40 more</a>
                <span>Comment on this</span>
              </div>
              <ul class="fb-comments">
                <li>
                  <a class="cmt-thumb" href="#">
                      <img alt="" src="/assets/mail-avatar.jpg">
                  </a>
                  <div class="cmt-details">
                      <a href="#">Jhone due</a>
                      <span> is world famous professional photographer.  with forward thinking clients to create beautiful, </span>
                      <p>40 minutes ago - <a class="like-link" href="#">Like</a></p>
                  </div>
                </li>
                <li>
                  <a class="cmt-thumb" href="#">
                      <img alt="" src="/assets/follower-avatar.jpg">
                  </a>
                  <div class="cmt-details">
                      <a href="#">Tawseef</a>
                      <span> is world famous professional photographer.  with forward thinking clients to create beautiful, </span>
                      <p>34 minutes ago - <a class="like-link" href="#">Like</a></p>
                  </div>
                </li>
                <li>
                    <a class="cmt-thumb" href="#">
                        <img alt="" src="/assets/mail-avatar.jpg">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Jhone due</a>
                        <span> is world famous professional photographer.   </span>
                        <p>15 minutes ago - <a class="like-link" href="#">Like</a></p>
                    </div>
                </li>
                <li>
                    <a class="cmt-thumb" href="#">
                        <img alt="" src="/assets/follower-avatar.jpg">
                    </a>
                    <div class="cmt-details">
                        <a href="#">Tawseef</a>
                        <span> thinking clients to create beautiful world famous professional photographer.  </span>
                        <p>2 minutes ago - <a class="like-link" href="#">Like</a></p>
                    </div>
                </li>
                <li>
                    <a class="cmt-thumb" href="#">
                        <img alt="" src="/assets/follower-avatar.jpg">
                    </a>
                    <div class="cmt-form">
                        <textarea name="" placeholder="Write a comment..." class="form-control"></textarea>
                    </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </section>
      </aside>
    </div>
  </section>
</section>





<% @trip_activities.morning_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade desc-model" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" />
                <p>Category :- Morning </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Image</h4>
        </div>
        <div class="modal-body">
          <%= render "morning_activity_images", act: act %>
        </div>
      </div>
      <!--end model -->
    </div>
  </div>
<%end%>

<% @trip_activities.afternoon_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" >
                <p>Category :- Afetrnoon </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Upload Image</h4>
        </div>
        <div class="modal-body">
          <%= render "afternoon_activity_images", act: act %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% @trip_activities.evening_activities.each do |act| %>
  <div id="description-modal-<%=act.id%>" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Description</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-5">
              <img src="<%= act.pictures.first.try(:name).try(:url)%>" class="img-responsive thumbnail center-block" >
                <p>Category :- Evening </p>
            </div>
            <div class="col-sm-7"></div>
              <p class=><%= act.description%>,<a href="https://en.wikipedia.org/wiki/<%=act.place%>" class="test-primary">Read more</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="img-upload-modal-<%=act.id%>" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload photo</h4>
          </div>
          <div class="modal-body">
            <%= render "evening_activity_images", act: act %>
          </div>
        </div>
      </div>
  </div>
<%end%>

<script type="text/javascript">
  $(document).ready(function(){
    var markers = <%=raw @trip_location.to_json %>
    window.onload = function () {
      if(markers.length > 0){
        initialize_map(markers);
      }
      else {
        initialize_full_map();
      }
      
    }
  });
</script>
