       <section class="panel comment_section">
          <div class="panel-heading">
            <b>Trip Comments</b>
          </div>
          <div class="panel-body">
            <div class="fb-status-container fb-border">
              <div class="fb-time-action like-info">
                <% if @trip.get_comment_users.present? && @trip.get_comment_users.size > 2 %>
                  <span><%= @trip.get_comment_users.first %></span>
                  <span><%= @trip.get_comment_users.second %></span>
                  <span>and</span>
                  <span><%= @trip.get_comment_users.size - 2 %> more</span>
                  <span>Comment on this</span>
                <%elsif @trip.get_comment_users.present? && @trip.get_comment_users.size > 0 %>
                  <span><%= @trip.get_comment_users.first %></span>
                  <span><%= @trip.get_comment_users.try(:second) %></span>
                <% end %>
              </div>
              <ul class="fb-comments">
                <% @trip.comments.each do |cmt| %>
                  <li>
                    <a class="cmt-thumb" href="#">
                        <img alt="" src="/assets/#{cmt.user.profile_picture.try(:url)}">
                    </a>
                    <div class="cmt-details">
                      <span>
                        <a href="#"><%= cmt.trip.user.name %></a>
                       <span id="trip-desc-<%= cmt.id %>" cmt-id="<%= cmt.id %>" class="trip_description" ><%= cmt.description %></span>
                      </span>
                      <div> 
                        <div><%= cmt.get_time_diffrence %> <a class="like-link" href="#">Like</a> <a class="" href="javascript:void(0);"  onclick="myFunction(<%= cmt.id %>)" >Edit</a> <a class="destroy-cmt" href="javascript:void(0);" cmt-id= "<%= cmt.id %>"> Destroy</a> </div>
                      </div>
                    </div>
                  </li>
                <% end %>
                <li>
                  <div class="cmt-form">
                    <%= form_tag [@trip, @trip.comments.build],id: "create_trip_comment"  do |f| %>
                      <%= text_area_tag 'description',nil, placeholder: "Write a comment...", class: "form-control" %>
                      </br>
                      <%= submit_tag "Comment", class: "btn btn-primary", id: "create_comment" %>
                    <% end %>
                    
                  </div>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
          </div>
        </section>

<script>
function myFunction(comment_id) {
    var ele = document.getElementById("trip-desc-"+comment_id); 
    ele.contentEditable = true;
    $("#"+ele.id).css("border", "1px solid black");
}

$(".trip_description").focus(function(){
  focus_ele_id =this.id;
  $(document).on("focusout","#"+focus_ele_id, function(){
    var comment_id = $(this).attr("cmt-id");
    var desc = $(this).text();
    
    $(this).css("border", "none");
    $.ajax({
       type: "PUT",
       beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
       url: "/trips/<%= @trip.id %>/comments/" + comment_id,
       data: {description: desc},
       dataType: "script"
      });
  });

});


function m1(){
  alert();
}

</script>
