<!--main content start-->
<section id="main-content">
  <section class="wrapper">
    <!-- start  contianer -->
    <div class="panel">
      <div class="panel-heading">
        <h4 class=""><b>My Trips</b></h4>
      </div>
      <div class="panel-body">
        <ul class="nav nav-tabs">
          <% @trips.keys.each do |k| %>
            <li><a data-toggle="tab" href="#<%=k%>" class="trip-tab"> <%=k%></a></li>
          <% end %>
        </ul>
        <% @trips.each do |key, values|%>
          <div class="tab-content">
            <div id="<%=key%>" class="tab-pane activity_tab-<%=key%> fade in">
              <div class="<%=key%>">
                <div class="table-responsive">
                  <div class="trip-detail-container">
                    <div class="trip-detail ">
                      <div class="trip-item trip-heading">
                        <h4><b>Place</b></h4>
                      </div>
                      <div class="trip-item trip-heading">
                        <h4><b>Date</b></h4>
                      </div>
                      <!--<div class="trip-item trip-heading">
                        <h4><b>Flag</b></h4>
                      </div> -->
                      <div class="trip-item trip-heading">
                        <h4><b>Cover Picture</b></h4>
                      </div>
                    </div>
                    <% values.each do |trip| %>
                      <div class="trip-detail">
                        <div class="trip-item">
                          <a href="trips/<%=trip.id%>"><%= trip.address %></a>
                        </div>
                        <div class="trip-item">
                            <a href="#;"><%= trip.start_date.strftime("%b-%Y")%></a>
                        </div>
                        <!-- div class="trip-item">
                            <a href="#;">
                                <img src="/assets/uk-flag.png" alt="not found">
                            </a>
                        </div> -->
                        <div class="trip-item">
                            <a href="#;">
                                <%= image_tag(trip.pictures.first.try(:name).try(:url))%>
                            </a>
                        </div>
                      </div>
                    <%end%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div><!-- end contianer -->
  </section>
</section>>
<!--main content end-->