<!--main content start-->
<section id="main-content">
<section class="wrapper site-min-height">
  <!-- page start-->
  <div class="row">
    <div class="col-lg-12">
      <section class="panel">
          <header class="panel-heading">
              <h4><b>Add Trip</b></h4>
          </header>
            <%=  form_for @trip,  class: "form-horizontal", id: "default"  do |f| %>
              <% if @trip.errors.any? %>
                  <div id="trip_error_explanation">
                    <ul>
                    <% @trip.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                    </ul>
                  </div>
              <% end %>
              <fieldset title="Step 1" class="step" id="default-step-0">
                  <legend></legend>
                  <div class="form-group ">
                      <label class="col-md-2">Trip Name :</label>
                      <div class="col-md-10 ">
                          <%= f.text_field :name, class: "form-control",required: :required , placeholder: "Trip Name" %></br >
                      </div>
                  </div>
                  
                  <div class="form-group">
                      <label class="col-md-2">Trip Description :</label>
                      <div class="col-md-10">
                          <%= f.text_area :description, class:"form-control",required: :required, placeholder: "Trip Description..." %></br>
                      </div>
                  </div>
                  <div class="form-group last">
                    <label class=" col-md-2">Add Image :</label>
                    <div class="col-md-10">
                      <%= f.fields_for :pictures,  Picture.new do |ff| %>
                        <%= ff.file_field :name %>
                      <% end %>
                     
                        <div>
                          <span class="btn btn-white btn-file">
                            <span class="fileupload-new">
                              <i class="fa fa-paper-clip"></i> Select image</span>
                              <span class="fileupload-exists">
                                  <i class="fa fa-undo"></i> Change
                              </span>
                              <input type="file" class="default" />
                            </span>
                            <a href="" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remove</a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-md-2">Where You go :</label>
                      <div class="col-md-4" style="margin-bottom:15px;">
                        <div class="col-md-12 location-search">
                          <%= f.text_field :address, class: "form-control", placeholder: "Type in an address", id: "map-geo",required: :required  %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="input-group input-large" data-date="13/07/2013" data-date-format="mm/dd/yyyy">
                          <%= f.text_field :start_date, class: "form-control dpd1 dpd", placeholder:"Start Date",required: :required  %>
                          <span class="input-group-addon">To</span>
                          <%= f.text_field :end_date, class:"form-control dpd2 dpd",placeholder: "End Date",required: :required  %>
                        </div> 
                      </div>
                      <div class="clearfix">
                        <div class="col-md-12">
                          <div class="input-control col-md-12 location-search">
                            <div class="map_canvas"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <!-- <div class="form-group">
                    <label class="col-md-2">Add Google Location</label>
                      <div class="col-md-10" >
                          <div class=" col-md-12 location-search location-find">
                            <input class="geocomplete form-control col-md-5" type="text" placeholder="Type in an address"  />
                          </div>
                          
                      </div>
                  </div> -->
              </fieldset>
              <fieldset title="Step 2" class="step" id="default-step-3" >
                <legend>  </legend>
                <%= f.fields_for :trip_activities, TripActivity.new do |t| %>
                  <div class="trip-detail-container margin-button-none">
                    <div class="row ">
                      <div class="container-fluid">
                        <div class="trip-detail ">
                          <div class="trip-item trip-heading">
                            <h4><b>Morning- <small class="text-white">Activities</small></b></h4>
                          </div>
                        </div>    
                      </div>  
                      <div class="panel-body clearfix">
                        <div class="morning-activities clone">
                          <div class="col-md-3">  
                            <div class="form-group-margin place">
                              <label class=" ">What did u Do ?</label>
                              <%= t.text_field :description, class:"form-control trip-morning-desc",required: :required , placeholder: "What did u Do ?" %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin description">
                              <label class=" ">Where ?</label>
                              <%=t.text_field :place,class:"form-control geocomplete single-trip-add-com trip-morning-place",placeholder: "Where ?",required: :required  %>
                              <%= t.hidden_field :activity_type, value: TripActivity::ACTIVITY_TYPE[0],class:"trip-morning-type" %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">Date</label>
                              <%=t.text_field :activity_date,class:"form-control geocomplete single-trip-add-com trip-morning-date act-date",placeholder: "Where ?" , required: :required %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin picture">
                              <%= t.fields_for :pictures, Picture.new do |tp| %>
                                <label class=" ">Upload Image</label>
                                <div class="fileUpload btn btn-primary btn-block">
                                  <span>Upload</span>
                                  <%= tp.file_field :name, class:"trip-morning-photo" %>
                                </div>
                              <%end%>
                            </div>                      
                          </div>
                        </div>
                      </div>
                      <div class="row add_morning">
                        <div class="col-md-8">
                          <div class="col-lg-6">
                              <a id="addmorning" href="#;"> <i class="fa fa-plus"></i> Add More Location
                              </a>
                          </div>
                          <div class="col-lg-6">
                              <a id="removemorning" href="#;"> <i class="fa fa-plus"></i> Remove Location
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>

                <!-- end morning-->
                <%= f.fields_for :trip_activities, TripActivity.new do |t| %>
                  <div class="trip-detail-container margin-button-none">
                    <div class="row">
                      <div class="container-fluid">
                        <div class="trip-detail ">
                          <div class="trip-item trip-heading">
                            <h4><b>Afternoon- <small class="text-white">Activities</small></b></h4>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body clearfix">
                        <div class="afternoon">
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">What did u Do ?</label>
                              <%= t.text_field :description, class:"form-control trip-afternoon-desc", placeholder: "What did u Do ?" , required: :required %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">Where ?</label>
                              <%=t.text_field :place,class:"form-control geocomplete single-trip-add-com trip-afternoon-place",placeholder: "Where ?",required: :required  %>
                                <%= t.hidden_field :activity_type, value: TripActivity::ACTIVITY_TYPE[2],class:"trip-afternoon-type" %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">Date</label>
                              <%=t.text_field :activity_date,class:"form-control geocomplete single-trip-add-com trip-afternoon-date act-date",placeholder: "Where ?", required: :required %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <%= t.fields_for :pictures, Picture.new do |tp| %>
                                <label class=" ">Upload Image</label>
                                <div class="fileUpload btn btn-primary btn-block">
                                  <span>Upload</span>
                                  <%= tp.file_field :name, class:"trip-afternoon-photo" %>
                                </div>
                              <%end%>
                            </div>                     
                          </div>
                        </div>
                      </div>
                      <div class="row add_afternoon_div">
                        <div class="col-md-8">
                          <div class="col-lg-6">
                            <a id="addafternoon" href="#;"> <h6><i class="fa fa-plus"></i> Add More Location</h6>
                              </a>
                          </div>
                          <div class="col-lg-6">
                            <a id="removeafternoon" href="#;"> <h6><i class="fa fa-plus"></i> Remove Location</h6>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>

                <%= f.fields_for :trip_activities, TripActivity.new do |t| %>
                  <div class="trip-detail-container margin-button-none">
                    <div class="row">
                      <div class="container-fluid">
                        <div class="trip-detail ">
                          <div class="trip-item trip-heading">
                            <h4><b>Evening- <small class="text-white">Activities</small></b></h4>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body clearfix">
                        <div class="evening">
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">What did u Do ?</label>
                              <%= t.text_field :description, class:"form-control trip-evening-desc", placeholder: "What did u Do ?", required: :required  %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">Where ?</label>
                              <%=t.text_field :place,class:"form-control geocomplete single-trip-add-com trip-evening-place",placeholder: "Where ?", required: :required  %>
                                <%= t.hidden_field :activity_type, value: TripActivity::ACTIVITY_TYPE[1],class:"trip-evening-type" %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <label class=" ">Date</label>
                              <%=t.text_field :activity_date,class:"form-control geocomplete single-trip-add-com trip-evening-date act-date",placeholder: "Where ?", required: :required  %>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group-margin">
                              <%= t.fields_for :pictures, Picture.new do |tp| %>
                                <label class=" ">Upload Image</label>
                                <div class="fileUpload btn btn-primary btn-block">
                                  <span>Upload</span>
                                  <%= tp.file_field :name, class:"trip-evening-photo" %>
                                </div>
                              <%end%>
                            </div>                     
                          </div>
                        </div>
                      </div>
                      <div class="row add_evening_div">
                        <div class="col-md-8">
                          <div class="col-lg-6">
                            <a id="addevening" href="#;"> <h6><i class="fa fa-plus"></i> Add More Location</h6>
                              </a>
                          </div>
                          <div class="col-lg-6">
                            <a id="removeevening" href="#;"> <h6><i class="fa fa-plus"></i> Remove Location</h6>
                              </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <%end%>
              </fieldset>  
              






















              <%= f.submit "Finish", class: "finish btn btn-danger" %>
            <% end %>
            <!--end form -->
          </div>
        </section>
      </div>
  </div>
  <!-- page end-->
  </section>
</section>
<!--main content end-->
