%hr
	= link_to "followings(#{@followings_count})", user_following_user_dashboard_path(id: current_user.id),class: 'fu_link'
%hr
	= link_to "follower(#{@followers_count})", user_followers_user_dashboard_path(id: current_user.id),class: 'fu_link'
%br
- @users.each do |user|
	%div
		= user.name || "N/A"
	%div
		= current_user.following.include?(user) ? (link_to "unfollow", unfollow_user_user_dashboard_path(id: 	user.id), method: :post, remote: true,  class: "btn btn-success btn-xs") : (link_to "follow", follow_user_user_dashboard_path(id: user.id),method: :post, remote: true, class: "btn btn-success btn-xs")

		