<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Mosaddek">
  <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <link rel="shortcut icon" href="/assets/favicon.png">

  <title>Dashboard</title>


  <!-- js -->
  <script src="/assets/jquery.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  <script class="include" type="text/javascript" src="/assets/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/assets/jquery.scrollTo.min.js"></script>
  <script src="/assets/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/assets/respond.min.js" ></script>
  <script type="text/javascript" src="/assets/bootstrap-fileupload.js"></script>

  <script type="text/javascript" src="/assets/moment.js"></script>
  <script type="text/javascript" src="/assets/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript"  src="/assets/form-components.js"></script>
  <!--right slidebar-->
  <script src="/assets/slidebars.min.js"></script>

  <!--Form Validation-->
  <script src="/assets/bootstrap-validator.min.js" type="text/javascript"></script>

  <!--Form Wizard-->
  <script src="/assets/jquery.steps.min.js" type="text/javascript"></script>
  <script src="/assets/jquery.validate.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="/assets/jquery-ui-1.10.1.custom.min.js"></script>


  <!--script for this page-->
  <script type="text/javascript"  src="/assets/jquery.stepy.js"></script>

  <!-- for fancybox open -->
  <script type="text/javascript" src="/assets/jquery.fancybox.js"></script>

  <!-- maps -->
  <script type="text/javascript"  src="/assets/logger.js"></script>

  <!-- slider include file -->
  <script type="text/javascript" src="/assets/swiper.min.js"></script>

  <!-- file input plugin for ajax upload or drag and drop uplaod -->
  <script type="text/javascript" src="/assets/fileinput.min.js"></script>

  <!-- plugin for make option for select option -->
  <script type="text/javascript" src="/assets/select2.min.js"></script>

  <script type="text/javascript" src="/assets/jquery.geocomplete.min.js"></script>
   <!--google map js -->
  <script src="//use.fontawesome.com/401f778b21.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBTEyir8ptxDKR_rSZ2QO4rELDm2yL-kpk"></script>

  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeS2lzBhrYbcEt5tF3I326PbHl3WCnYw&v=3&libraries=places"></script> -->
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js" type="text/javascript"></script>
  <script src="//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" type="text/javascript">r=false"}</script>

  <!--common script for all pages-->
  <script type="text/javascript"   src="/assets/common-scripts.js"></script>
  <script type="text/javascript"   src="/assets/trips.js"></script>

  <link rel="shortcut icon" href="/assets/favicon.png">
  <link href="/assets/js-image-slider.css" rel="stylesheet" type="text/css" />

  <!-- <link href="/assets/generic.css" rel="stylesheet" type="text/css" /> -->

  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/bootstrap-reset.css" rel="stylesheet">
  <!--external css-->
  <link href="/assets/font-awesome.css" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.10.1.custom.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/bootstrap-datetimepicker.min.css">

  <!--right slidebar-->
  <link href="/assets/slidebars.css" rel="stylesheet">
  <link href="/assets/style-responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="/assets/swiper.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/fileinput.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/jquery.fancybox.css">
  <link rel="stylesheet" type="text/css" href="/assets/jquery-ui-1.10.1.custom.min.css">
  <!-- Custom styles for this template -->
  <link href="/assets/style.css" rel="stylesheet">
 

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags   %>
</head>
  <body>
    <%= render "shared/flash_messages"%>
    <section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div data-original-title="Toggle Navigation" data-placement="right" class="fa fa-bars"></div>
    </div>

    <!--logo start-->
    <a href="/" class="logo" >
        <img src="/assets/itinarite-logov3.png" alt="LOGO" width="136" />
    </a>
    <!--logo end-->

    <div class="nav notify-row" id="top_menu">
      <!--  notification start -->
      <ul class="nav top-menu">
        <!-- settings start -->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="fa fa-tasks"></i>
            <span class="badge bg-success">6</span>
          </a>
            <ul class="dropdown-menu extended tasks-bar">
              <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 6 pending tasks</p>
                </li>
                <li>
                  <a href="#">
                    <div class="task-info">
                      <div class="desc">Dashboard v1.3</div>
                      <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                          <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Database Update</div>
                            <div class="percent">60%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% Complete (warning)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Iphone Development</div>
                            <div class="percent">87%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
                                <span class="sr-only">87% Complete</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Mobile App</div>
                            <div class="percent">33%</div>
                        </div>
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                                <span class="sr-only">33% Complete (danger)</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="task-info">
                            <div class="desc">Dashboard v1.3</div>
                            <div class="percent">45%</div>
                        </div>
                        <div class="progress progress-striped active">
                            <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                <span class="sr-only">45% Complete</span>
                            </div>
                        </div>

                    </a>
                </li>
                <li class="external">
                    <a href="#">See All Tasks</a>
                </li>
            </ul>
        </li>
        <!-- settings end -->
        <!-- inbox dropdown start-->
          <li id="header_inbox_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-important">5</span>
              </a>
              <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-red"></div>
                  <li>
                      <p class="red">You have 5 new messages</p>
                  </li>
                  <li>
                      <a href="#">
                          <span class="photo"><img alt="avatar" src="/assets/avatar-mini.jpg"></span>
                          <span class="subject">
                              <span class="from">Jonathan Smith</span>
                              <span class="time">Just now</span>
                          </span>
                          <span class="message">
                              Hello, this is an example msg.
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="photo"><img alt="avatar" src="/assets/avatar-mini2.jpg"></span>
                          <span class="subject">
                              <span class="from">Jhon Doe</span>
                              <span class="time">10 mins</span>
                          </span>
                          <span class="message">
                              Hi, Jhon Doe Bhai how are you ?
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="photo"><img alt="avatar" src="/assets/avatar-mini3.jpg"></span>
                          <span class="subject">
                              <span class="from">Jason Stathum</span>
                              <span class="time">3 hrs</span>
                          </span>
                          <span class="message">
                              This is awesome dashboard.
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="photo"><img alt="avatar" src="/assets/avatar-mini4.jpg"></span>
                          <span class="subject">
                              <span class="from">Jondi Rose</span>
                              <span class="time">Just now</span>
                          </span>
                          <span class="message">
                              Hello, this is metrolab
                          </span>
                      </a>
                  </li>
                  <li>
                      <a href="#">See all messages</a>
                  </li>
              </ul>
          </li>
          <!-- inbox dropdown end -->
          <!-- notification dropdown start-->
          <li id="header_notification_bar" class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                  <i class="fa fa-bell-o"></i>
                  <span class="badge bg-warning">7</span>
              </a>
              <ul class="dropdown-menu extended notification">
                  <div class="notify-arrow notify-arrow-yellow"></div>
                  <li>
                      <p class="yellow">You have 7 new notifications</p>
                  </li>
                  <li>
                      <a href="#">
                          <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                          Server #3 overloaded.
                          <span class="small italic">34 mins</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="label label-warning"><i class="fa fa-bell"></i></span>
                          Server #10 not respoding.
                          <span class="small italic">1 Hours</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="label label-danger"><i class="fa fa-bolt"></i></span>
                          Database overloaded 24%.
                          <span class="small italic">4 hrs</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="label label-success"><i class="fa fa-plus"></i></span>
                          New user registered.
                          <span class="small italic">Just now</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <span class="label label-info"><i class="fa fa-bullhorn"></i></span>
                          Application error.
                          <span class="small italic">10 mins</span>
                      </a>
                  </li>
                  <li>
                      <a href="#">See all notifications</a>
                  </li>
              </ul>
          </li>
          <!-- notification dropdown end -->
      </ul>
    </div>
    <div class="top-nav ">
      <ul class="nav pull-right top-menu">
          <li>
              <input type="text" class="form-control search" placeholder="Search">
          </li>
          <!-- user login dropdown start-->
          <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <%= image_tag("#{current_user.profile_picture.try(:url)}", size: "25x25") if current_user %>
                  <span class="username"><%= current_user.name if current_user %></span>
                  <b class="caret"></b>
              </a>
              <ul class="dropdown-menu extended logout">
                  <div class="log-arrow-up"></div>
                  <li><a href="/profile"><i class=" fa fa-suitcase"></i>Profile</a></li>
                  <li><a href="/users/edit"><i class="fa fa-cog"></i> Settings</a></li>
                  <li><a href="#"><i class="fa fa-bell-o"></i> Notification</a></li>
                  <li><a href="/users/sign_out"><i class="fa fa-key"></i> Log Out</a></li>
              </ul>
          </li>
          <!-- user login dropdown end -->
          <li class="sb-toggle-right">
              <i class="fa  fa-align-right"></i>
          </li>
      </ul>
    </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
    <div id="sidebar"  class="nav-collapse ">
      <!-- sidebar menu start-->
      <ul class="sidebar-menu" id="nav-accordion">
          <li>
              <a href="#;">
                  <i class="fa fa-dashboard"></i>
                  <span>New feeds</span>
              </a>
          </li>
          <li>
              <a href="#;">
                  <i class="fa fa-envelope-o"></i>
                  <span>Message</span>
              </a>
          </li>
          <li>
              <a href="#;">
                  <i class="fa fa-code-fork"></i>
                  <span>Followers</span>
              </a>
          </li>
          <li>
              <a href="#;">
                  <i class="fa fa-calendar-o"></i>
                  <span>Events</span>
              </a>
          </li>
          <li>
              <a href="#">
              <i class="fa fa-car" aria-hidden="true"></i>
                  <span>My Trips</span>
              </a>
          </li>
          <!--multi level menu end-->
      </ul>
      <!-- sidebar menu end-->
    </div>
    </aside>
    <!--sidebar end-->

    <%= yield  %>

    
    <!--footer start-->
    <footer class="site-footer">
    <div class="text-center">
      2016 &copy; itinarite.
      <a href="#" class="go-top">
          <i class="fa fa-angle-up"></i>
      </a>
    </div>
    </footer>
    <!--footer end-->
    </section>
    <!--footer end-->
    
  </body>
</html>
