!!!
%html{:lang => "en"}
  %head
    %title Itinarite
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/home_header'
    = render 'shared/flash_messages'
    .container.main_block.login_page
      .row
        .col-sm-12.col-md-5
          .sign_in_left_panel
            .symbols
              %span 
                = image_tag("Itinerary.png", :size => "50x50", :alt => "Itinerary")
              %b ... is your itinerary
            .symbols
              %span 
                = image_tag("airplane.png", :size => "40x40", :alt => "airplane")
              %b ... is your travel profile
            .symbols
              %span 
                = image_tag("sun.png", :size => "40x40", :alt => "sun")
              %b ... is your experience
        .col-sm-12.col-md-1
          .vertical-line
        .col-sm-12.col-md-6
          = yield
    = render 'shared/home_footer'